*{
    margin: 0;
    background-color: #222831;
    color: #EEEEEE;
    font-family: "Libre Franklin", sans-serif;
}
#main-content{
    width: 100%;
    margin: 5px;
}
h1{
    text-align: center;
    font-size: 2rem;
}
.title-header{
    text-align: center;
}
i{
    margin-top: 1em;
    margin-right: 1em;
}
h2{
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.image-content{
    display: flex;
    justify-content: space-around;
}
img{
    width: 30vw;
    max-height: fit-content;
    border-radius: 1px;
    transition-duration: .75s;
}
img:hover{
    transition-duration: .75s;
    transform: scale(1.1);
    border: 5px solid #76ABAE;
}
figcaption{
    text-align: center;
}
#fa-brands:hover{
    color: #76ABAE;
}
@media (max-width: 375px){
    .image-content{
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 80vw;
    }
}