body{
    background-color: azure;
}
h1 {
   font-size: 300%; 
   color:blue;  
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
}
h2 {
    font-size: 160%;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px solid dodgerblue;
    padding: 12px;
    margin: 50px;
}
#ul01 {
    background-color: bisque;
}

p.exText {
    color: red;
}

a:link, a:visited {
    background-color: royalblue;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: darkblue;
}

img {
    width: 250;
    height: 300;
}