body {
    background-image: url(garden.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}