body{
    background-color: powderblue;
}
h1 {
   font-size: 300%; 
   color:blue;  
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
}
h2 {
    font-size: 160%;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
