*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #020F23;
  color: #ffff;
}

nav{
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  background-color: #052453;
}
nav a{
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

nav .logo{
  font-size: 24px;
  font-weight: bold;
}

.hero{
  padding: 2em;
}
.profilePic{
  border-radius: 50%;
  align-content: center;
  width: 50em;
  height: auto;
}

footer{
  color: #ffff;
  text-align: center;
}