*{
  margin: 0;
  padding: 0;
  /* shout out Adam Wathan */
  min-width: 0;
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

body{
  background-color: #7b9fdd;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: #ffff;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
}
a:hover{
  color: #E0544A;
}

img:hover{
  box-shadow: 2px 2px 2px 12px #E0544A inset;
}

h1{
  font-size: 5rem;
  text-align: center;
}

/* Container */
.hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Links */
.linkIcon{
  padding: 1em;
}

/* Text */
.logo{
  font-size: 18rem;
  font-weight: bold;
  background:url('/src/assets/paint.gif');
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Projects Sections */
.projectImages{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.projectImages img{
  height: 50vh;
  padding: 5px;
  border-radius: 10px;
  width: auto;
}
