*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #020F23;
  color: #ffff;
}

/* Container */
.hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Links */
.linkIcon{
  padding: 1em;
}

/* Text */
.logo{
  font-size: 18rem;
  font-weight: bold;
  background:url('/src/assets/giphy.gif');
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}